{% extends "base.html" %}

{% load core_tags %}

{% block content %}
<div class="left pull-left col-md-3">
    <form class="form-horizontal" method="post" action="." role="form">
        <div class="form-group">
            {% csrf_token %}
            {{form.as_p}}
        </div>
        
        <div class="control">
            <input id="submit_form"type="submit" value="submit" />
        </div>
    </form>
    
</div>
<p>{{request.path.split.1}}</p>

<div class="list_wrapper right span8 pull-right">
    <h3>{{ page_title }} items</h3>
    {% object_list object_list color %}
</div>

{% endblock %}
{% block content_wide %}
    <div class="scheme col-md-2">
        <img src="{{STATIC_URL}}img/gtd-scheme.png" alt="" style="max-width:18%; height:auto; position:fixed; top:80px;"/>
    </div>
{% endblock content_wide %}
{% block js%}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_image").addClass("btn btn-warning");
            $("#id_file").addClass("btn btn-warning");
            $("#submit_form").addClass("btn btn-warning");
            $("#id_status").addClass("list-unstyled");
            $("#id_status>li:nth-child(2n)").addClass("pull-right");
            var project_select = $("#id_project");
            project_select.attr("disabled", "disabled");
            $("ul input[name=status]").change(function(){
                var status_radio = $(this);
                
                if (status_radio.attr("value") == "3" ){
                    project_select.removeAttr("disabled");
                }
                else {
                    //var attr = project_select.attr("disabled");
                    //if(typeof attr === 'undefined' && attr === false){
                        project_select.attr("disabled", "disabled");
                        $("#id_project").val("");
                    //}
                }
            });
        });
    </script>
    
{% endblock js%}