<div class="">
    <table class="table  table-bordered table-hover table-condensed">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Short Descr</th>
            <th>Date added</th>
            <th>Date updated</th>
            <th>Image</th>
            <th>Project</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr class='{{color}}'>
                {% with slug=object.slug %}
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'core_item_detail' slug=slug %}">{{ object.name }}</a></td>
                <td>{{object.brief_description}}</td>
                <td>{{object.date_added}}</td>
                <td>{{object.date_updated}}</td>
                <td>{% if object.image %}
                    <img src="{{object.image.url}}" alt="" style="max-height:100px; width:auto;"/>
                {% endif %}</td>
                <td>
                    {% if object.status == 3 %}
                    <p>{{ object.project.name }}</p>
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="btn btn-default remove_button" data-slug="{{slug}}" >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <a href="{% url 'core_edit_item' slug=slug %}" class="btn btn-default edit-link">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    
                </td>
                {% endwith %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
</div>