<div class="">
    <table class="table  table-bordered table-hover table-condensed">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Short Descr</th>
            <th>Date added</th>
            <th>Date updated</th>
            <th>Image</th>
            <th>Project</th>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr class='{{color}}'>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'core_item_detail' slug=object.slug %}">{{ object.name }}</a></td>
                <td>{{object.brief_description}}</td>
                <td>{{object.date_added}}</td>
                <td>{{object.date_updated}}</td>
                <td>{% if object.image %}
                    <img src="{{object.image.url}}" alt="" style="max-height:100px; width:auto;"/>
                {% endif %}</td>
                <td>
                    {% if object.status == 3 %}
                    <p>{{ object.project.name }}</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
</div>